rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /payment-proofs/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /event-banners/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}